<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/style.css" rel="stylesheet">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:wght@700&display=swap"
        rel="stylesheet">
    <!-- end -->
</head>

<body>
    <main class="h-screen flex flex-col px-2 justify-center items-center w-full relative dark:bg-slate-800">
        <img src="../img/logos/logo_yard_sale.svg" alt="shop logo" class="w-2/3 mb-8 max-w-xs sm:hidden"> 

        <form action="#" class="flex flex-col px-2 w-full max-w-sm btn">
            <label for="email" class="font-Quicksand font-semibold mb-1 dark:text-white">Email</label>
            <input type="text" name="email" id="email" class="bg-input-field py-1.5 px-2 rounded-md mb-4 text-secondary-gray dark:bg-slate-700" placeholder="youremail@gmail.com">

            <label for="password" class="font-Quicksand font-semibold mb-1 dark:text-white">Password</label>
            <input type="password" name="password" id="password" class="bg-input-field py-1.5 px-2 rounded-md mb-4 text-secondary-gray dark:bg-slate-700" placeholder="*********">

            <div class="mt-8 mx-auto flex flex-col">
                <input type="submit" value="Log in" class="btn-green">
                <a href="#" class="text-principal-green mx-auto mt-4 dark:text-emerald-700">Forgot my password</a>
            </div>
        </form>
        <button class="mx-auto w-72 py-2.5 text-principal-green font-bold text-lg rounded-md absolute bottom-6 bg-white border-2 border-solid border-principal-green dark:text-emerald-700 dark:border-emerald-700 dark:bg-slate-800 sm:hidden"><a href="#">Sign up</a></button>
        <button class="mx-auto w-72 py-2.5 text-principal-green font-bold text-lg rounded-md bg-white border-2 border-solid border-principal-green hidden sm:block mt-10 dark:text-emerald-700 dark:border-emerald-700 dark:bg-slate-800"><a href="#">Sign up</a></button>
        <button class="absolute top-3 right-2 text-2xl font-Quicksand text-secondary-gray px-2 sm:hidden dark:text-secondary-gray">X</button>
    </main>
    <script src="../js/prueba.js"></script>
</body>

</html>